/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        padding: 0;
        margin: 0;
    }
}

.top-content-spacing{
    padding-top: 64px;

    @include xl{
        padding-top: 64px;
    }
}

.large-images{
    width : 100%;
}

//checkout panels
.method{
    // background: var(--CityBrume);
    // background: var(--NightGullGrey);
    background: var(--BashfulEmu);
    align-items: center;

    margin-top : 64px;

    div{
        
        padding : 0px 0px 24px 0px;
        h3,p,button,input{
            padding: 16px 0px;
            background: var(--CityBrume);
            text-align: center;
            width : 100%;
            //border: 2px solid #000000;
            //box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        }
    
        h2{
            background: var(--CityBrume);
            text-align: center;
            padding: 16px 0px;
            width : 100%;
    
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            color : var(--CityBrume);
    
            background: var(--NightGullGrey);
            border : none;
            border-radius: 8px 8px 0px 0px;
        }
    
        h3{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color : white;
    
            background: none;
        }
    
        p{
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: var(--NightGullGrey);
        }
    
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding: 16px;
            gap: 32px;
            li{
                button{
                    text-align : center;
                }
                ul{
                    display : flex;
                    flex-direction: row;
                    justify-items : center;
                    li{
                        width : 100%;
                        gap : 16px;
                        div{
                            display : flex;
                            color: var(--NightGullGrey);
                            background-color: var(--CityBrume);
                            align-items : center;
                            padding : 0px;
                            i{
                                font-size : 2em;
                                padding : 8px;
                            }
                        }
                    }
                }
            }
        }
    
        button, input{
            text-decoration : none;
            outline : none;
            border : none;
            width : 100%;
    
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    
            text-align: left;
            padding : 0px, 16px;
            //transition-duration: 0.5s;
        }
    
        button:active{
            box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.25);//, inset 0px 0px 32px rgba(0, 0, 0, 0.5);
            border: 2px solid #000000;
        }
    }
}

//thank you page panels

//purple button
.purpleButton{
    background-color: var(--TillandsiaPurple);
    color: white;
    border : none;

    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    justify-content: center;
    align-items: center;
    padding: 16px;


    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 22px;
        
        text-align: center;
    }

    img{
        box-shadow: none;
        border-radius: none;
        //background-color : none;
    }
}

//pink button
.pinkButton{
    background-color: var(--PurpleYearning);
    color: white;
    border : none;

    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    justify-content: center;
    align-items: center;
    padding: 16px;

    font-family: 'Oswald', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;

    text-align: center;


    img{
        box-shadow: none;
        border-radius: none;
        //background-color : none;
    }
}

.title{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: rem-calc(28);
    line-height: 60px;
    /* identical to box height, or 214% */

    color: #000000;
    filter: drop-shadow(0px 16px 8px rgba(0, 0, 0, 0.25));
}

.anothaTitle{
    font-weight: 700;
    font-size: rem-calc(28);
    line-height: 34px;

    padding : 0px 8px;
    text-align: right;
    border-right: 4px solid black;

    color: #000000;
}