/* =============
    allergyGallery
============= */

#allergyGallery{
    display : grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". gal .";
    text-align : center;

    @include md{
        grid-template-columns : 134px auto 134px;
    }

    @include xxl{
        grid-template-columns : auto 1172px auto;
    }

    >div{
        margin-top : 60px;
        grid-area : gal;

        //background-image: url(../img/NFFPhotos/Doge03_Photo.jpg);
        //background-size: contain;

        section{
            background-color : var(--CityBrume);
            display : flex;
            flex-direction: column;

            button{
                margin-top : 8px;
                align-self : flex-end;
                width : 60%;
            }

            h2{
                padding-top : 16px;
            }

            p{
                padding-top : 8px;
                font-weight: 400;
                font-size: rem-calc(12);
                line-height: 14px;
                text-align: right;
                
                color: #000000;
            }
        }

        #galImg{
            padding-top : 16px;
            display : grid;
            grid-template-columns: 1fr 16px 1fr;
            grid-template-areas: 
            "left . right";

            img{
                filter: drop-shadow(0px 16px 8px rgba(0, 0, 0, 0.25));
                margin-bottom : -50%;
            }

            #left{
                grid-area : left;
            }

            #right{
                grid-area : right;
            }
        }

        #backIMG{
            object-fit : cover;
            object-position : 0px -225px;
            height: 30vh;
        }
    }
}