/* =============
    Hero
============= */
#hero{
    margin-top : 64px;

    display : grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". hero .";

    @include md{
        grid-template-columns : 134px auto 134px;
    }

    @include xxl{
        grid-template-columns : auto 1172px auto;
    }

    >div{
        grid-area : hero;
        display : flex;
        flex-direction : row;
        gap : 56px;

        img{
            height : 60vh;
            object-fit : contain;
        }

        h1{
            align-self : center;
            font-size : rem-calc(34);
            font-weight : 800;
            line-height: 40px;
        }
    }
}