// Thank you//
#thankyou{
    display : grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". thanks .";

    @include md{
        grid-template-columns : 134px auto 134px;
    }

    @include xxl{
        grid-template-columns : auto 1172px auto;
    }

    >div{
        grid-area : thanks;

        @include md{
            display : grid;
            grid-template-columns: 20% auto;
            grid-template-areas : "image info";
            gap : 25%;

            // display : flex;
            // flex-direction: row;
            // gap : 260px;
        }

        #leftSection{
            grid-area : image;
            
            display : flex;
            align-items : center;
            flex-direction : column;

            h1{
                display : block;

                @include md{
                    display : none;
                }
            }
        }

        #rightSection{
            grid-area : info;

            >div{
                h1{
                    display : none;
    
                    @include md{
                        display : block;
                    }
                }
            }
        }

        h1{
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: rem-calc(60);
            color: var(--ObsidianBlack);
            text-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);

            margin-top : 64px;
            text-align: center;

            @include md{
                font-size: rem-calc(96);
            }
        }

        img{
            margin-top : 48px;
            box-shadow : 0px 8px 24px rgba(0, 0, 0, 0.25);
            display : block;
            width : 33%;
            object-fit : cover;

            @include md{
                width : 100%;
                height : 85vh;
            }
        }

        section{
            margin-top : 48px;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 16px 0px;
            //gap: 24px;

            background: #E1DFDD;
            border-radius: 16px;

            p{
                font-weight: 400;
                font-size: 20px;

                text-align: center;
                padding : 16px 8px;
            }

            span{
                font-weight: 700;
            }

            ul{
                display : flex;
                flex-direction : row;
                gap : 8px;
                
                li{
                    img{
                        width : 64px;
                        height : 64px;
                        margin-top : 0px;
                        
                        box-shadow: none;
                        border-radius: none;
                    }
                }
            }
        }

        #buttonSection
        {
            background: none;
            border-radius: 0px;

            display: flex;
            flex-direction : row;
            justify-content : space-evenly;

            gap : 6px;

            @include md{
                gap : 5%;
            }

            button{
                display : flex;
                flex-direction : row;
                justify-content : center;
                gap : 8px;
                width : 100%;

                img{
                    margin-top : 0px;
                    width : 40px;
                    height : 40px;
                }
            }
        }
    }
}