/* =============
    Footer
============= */

footer{
    background-color : #3C4858;
    margin-top : 48px;
    padding : 16px;
    color : white;

    display : grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". footer .";

    @include md{
        grid-template-columns : 134px auto 134px;
    }

    @include xxl{
        grid-template-columns : auto 1172px auto;
    }

    >div{
        grid-area : footer;
        margin-top : 32px;

        @include md{
            display : grid;
            grid-template-columns: 35% 15% 60%;
            grid-template-areas: "left . right";
        }

        #top-left{
             grid-area : left;
             align-items : center;
             gap : 16px;

             #join{
                margin-top : 32px;

                ul{
                    display : flex;
                    flex-direction : row;
                    gap : 16px;
    
                    align-items : center;
                    
                    li{
                        margin-top : 16px;
                        img{
                            width : 32px;
                            height : 32px;
                            margin-top : 0px;
                            
                            box-shadow: none;
                            border-radius: none;
                        }
                    }
                }
             }

             #news{
                margin-top : 32px;
                section{
                    display : flex;
                    flex-direction : row;
                    width : 100%;
                    justify-content : space-between;
                    align-items : flex-end;
                    border-bottom : 4px solid var(--VeilingWaterfalls);

                    button{
                        background : var(--VeilingWaterfalls);
                        color : var(--VeryNavy);
                        padding : 8px;
                        //padding-left: 8px;
                    }

                    h3{
                        padding-left : 8px;
                    }
                }
             }
        }

        #bottom-right{
            margin-top : 60px;
            grid-area : right;

            display : grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "user products"
            "support about";

            aside{
                margin-top : 16px;

                ul{
                    margin-top : 16px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                }
            }

            #User{
                grid-area: user;
            }
    
            #Products{
                grid-area: products;
            }
    
            #Support{
                grid-area: support;
            }
    
            #About{
                grid-area: about;
            }
        }

        img{
            width : 100%;
        }

        h1{
            font-weight: 700;
            font-size: rem-calc(16);
            line-height: 28px;
            /* or 175% */

            text-align: center;
        }

        h3{
            font-weight: 300;
            font-size: rem-calc(12);
            line-height: 28px;
            /* identical to box height, or 233% */

            text-align: center;
        }

        //main titles for sections
        h2{
            margin-top : 16px;
            font-weight: 700;
            font-size: rem-calc(16);
            line-height: 19px;

            /* Veiling Waterfalls */

            color: var(--VeilingWaterfalls);
            border-left : 4px solid var(--VeilingWaterfalls);
            padding-left: 8px;
        }

        button{
            padding: 0;
            border: none;
            background: none;
            color : white;

        }
    }
}