/* =============
    Header
============= */
header{
    background-color: #3C4858;
    button{
        background : none;
        border : none;
    }

    display: grid;
    grid-template-columns: 1fr, auto;
    grid-template-areas: 
    "leftSec logo rightSec";

    #bigLogo{
        display : none;
    }

    @include md{
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "logo leftSec rightSec"
        "nav . form";
        
        #bigLogo{
            display : block;
        }

        #smallLogo{
            display : none;
        }
    }

    >div{
        display : flex;
        flex-direction: row;
        align-items : center;
        justify-content : center;
        
        #LeftSection{
            grid-area : leftSec;
            padding : 36px;
            display : flex;
            flex-direction: row;
            

            section{
                button{
                    align-content : space-evenly;
                    p{
                        display : none;
                        font-weight: 900;
                        font-size: 16px;
                        line-height: 28px;

                        @include md{
                            display : block;
                        }
                    }
                }
            }
        }
    
        #logo{
            grid-area : logo;
            padding : 36px;
        }
    
        #RightSection{
            grid-area : rightSec;
            padding : 36px;
            display : flex;
            flex-direction: row;

            p{
                display : none;
            }

            @include md{
                p{
                    display : block
                }
            }
        }
    
        nav{
            grid-area : nav;
            padding : 36px;
            display : none;

            @include md{
                display : block; 
            }
        }
    
        form{
            grid-area : form;
            padding : 16px;
            display : none;

            @include md{
                display : block; 
            }
            
            input{
    
            }
        }
    }
}
