/* =============
    Header
============= */
header{
    background-color: #3C4858;

    display: grid;
    grid-template-columns: 1fr, auto;
    grid-template-areas: 
    "leftSec logo rightSec";

    #bigLogo{
        display : none;
    }

    @include md{
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "logo leftSec rightSec"
        "nav . form";
        
        #bigLogo{
            display : block;
        }

        #smallLogo{
            display : none;
        }
    }

    >div{
        #LeftSection{
            grid-area : leftSec;
            padding : 36px;
            section{
                button{
                    p{
                        font-weight: 900;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
    
        #logo{
            grid-area : logo;
            padding : 36px;
        }
    
        #RightSection{
            grid-area : rightSec;
            padding : 36px;
        }
    
        nav{
            grid-area : nav;
            padding : 36px;
        }
    
        form{
            grid-area : form;
            padding : 16px;
            input{
    
            }
        }
    }
}
